@import '@compromis/blobby/scss/variables';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

:root {
  --font-headline: 'Formula Condensed', sans-serif;
  --primary: #F16B14;
  --blue: #425CC7;
  --yellow: #F6B225;
  --max-width: 900px;
  --text-sm: clamp(0.8rem, 0.08vi + 0.78rem, 0.84rem);
  --text-base: clamp(1rem, 0.23vi + 0.94rem, 1.13rem);
  --text-md: clamp(1.1rem, 0.38vi + 1rem, 1.44rem);
  --text-lg: clamp(1.56rem, 0.79vi + 1.36rem, 2rem);
  --text-xl: clamp(1.95rem, 1.29vi + 1.63rem, 2.66rem);
  --text-2xl: clamp(2.44rem, 2.02vi + 1.94rem, 3.55rem);
  --text-3xl: clamp(3.05rem, 3.06vi + 2.29rem, 4.73rem);
  --text-4xl: clamp(3.5rem, 4.54vi + 2.68rem, 6.31rem);
  --text-5xl: clamp(7.75rem, 5vi + .25rem, 8.6rem);
}

@font-face {
  font-family: 'Formula Condensed';
  src: url('../fonts/FormulaCondensed-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  background-color: var(--blue);
  color: var(--white);
  scroll-behavior: smooth;
  scroll-padding-top: 14rem;
}

.card {
  --card-padding: 1.5rem;
  background: var(--white);
  color: var(--text-color);
  padding: var(--card-padding);
  max-width: var(--max-width);
}

a {
  &:focus {
    box-shadow: 0 !important;
    outline: 3px #ffcd68 solid;
    outline-offset: 3px;
  }
}

.nav-menu {
  margin-left: 0;
}

.basic-nav .nav-menu-item {
  font-weight: bold;
}

ul.arrow-list {
  margin-left: 0;
  padding-left: 0;

  li {
    display: flex;
    gap: .5rem;
    margin-block: 0.75rem;
    line-height: 1.5;
  }

  li::before {
    content: "->";
    color: var(--primary);
    font-size: 2em;
    line-height: 0.75;
    white-space: nowrap;
    flex-shrink: 0;
  }
}

@include media-breakpoint-down(md) { 
  :root {
    --text-md: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 2rem;
    --text-3xl: 3.25rem;
  }

  html,
  body {
    font-size: .95rem;
  }

  .card {
    --card-padding: 1.25rem;
  }
}